body{
	margin: 0;
	overflow-x: hidden;
	font-family:Montserrat;
}

::-webkit-scrollbar {
    width: 6px;
	border-radius: 150px
}

/* Track */
::-webkit-scrollbar-track {
    background: #1a1e55; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff2020; 
}
.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}
/*
################################################  MENU #############################################
*/



.main{
	background-image: url(../images/bg.png);
	width: 100%;
	float: left;
	height: 100vh;
}

.banner{
	padding-left:60px;
	padding-right: 60px;
	width: 100%;
	height: 100vh;
	float:left;
}

ul{
	list-style-type: none;
	float: right;
	padding-top: 30px;
}

li {
	display: inline;
	text-transform: uppercase;
	padding-left: 44px;
	color: white;
	font-weight: 700;
	font-size: 18px;
}

.login2{
	cursor: pointer;
	height: 40px;
	width: 110px;
	border-radius: 5px;
	border: solid #ff2020 2px;
	box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.25);
	float: left;
	transition: all .4s ease-in-out;
	margin-left: 75px;
	margin-top: 10px;
	color:#ff2020;
}

.login2 h1{
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	font-weight: 500;
}

.login2:hover{
	background-color: #ff2020;
	color:white;
}

.register{
	cursor: pointer;
	height: 40px;
	width: 170px;
	margin-left: 20px;
	border-radius: 5px;
	background-color: #ff2020;
	box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.25);
	float: left;
	margin-top: 10px;
}
.register h1{
	font-size: 12px;
	text-transform: uppercase;
	color: white;
	text-align: center;
	padding-top: 2px;
	font-weight: 500;
}
.float{
	float: left;
}

li p{
	cursor: pointer;
}

/*
################################################  Heading text #############################################
*/

.heading {
	margin: 25vh 100px;
	color: white;
}

.heading h1{
	font-size: 100px;
	font-weight: 300;
}

.heading p{
	font-weight: 200;
	font-size: 30px;
}

.heading-uderline{
	height: 4px;
	position: absolute;
	width:200px;
	background-color:#ff2020;
	margin-top: -30px;
}

.login1{
	cursor: pointer;
	height: 50px;
	width: 180px;
	border-radius: 50px;
	background-color: #ffcc00;
	box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.25);
	float: left;

}

.login1 h1{
	text-transform: uppercase;
	text-align: center;
	color: white;
	font-size: 16px;
	padding-top: 3px;
	font-weight: 500;
}

.register1{
	margin-left: 20px;
	cursor: pointer;
	height: 50px;
	width: 270px;
	border-radius: 50px;
	background-color: white;
	box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.25);
	float: left;
}
.register1 h1{
	font-size: 16px;
	text-transform: uppercase;
	color: #c2c9db;
	text-align: center;
	padding-top: 3px;
	font-weight: 500;
}

.arrow-circle{
	width: 64px;
	border-radius: 100px;
	background-color: white;
	box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.25);
	height: 64px;
	margin: 320px auto 0px auto;
	cursor: pointer;
}

.arrow-circle svg{
	padding: 22px;
	width: 16px;
	height: 16px;
}

/*
##################################################### SECTION 1 ###############################################
*/

.section1 {
	width: 100%;
	height: 100vh;
	background-color: white;
	bottom: 0;
	color: #bec2cc;
	float: left;
}

.section1-line{
	background-color: #bec2cc;
	width: 40px;
	position: absolute;
	margin-top: 8px;
	height: 3px;
	margin-left: 5px;
	border-radius: 10px;
}

.section1 h2{	
	font-size: 18px;
	padding-left: 65px;
	top: 200px;
}


.text{
	margin-left: 64vw;
	margin-top: 350px;
}

.text h1{
	color: #ffcc00;
	margin-top: -10px;
	font-size: 70px;
	font-weight: 500;
}

.description{
	margin-top: -30px;
	font-size: 25px;
}

/*
##################################################### SECTION 2 ###############################################
*/