body{
	margin: 0;
	overflow-x: hidden;
	width:100%;
	height: 100%;
	letter-spacing: 0;
	font-family:Montserrat;
}

::-webkit-scrollbar {
    width: 6px;
	border-radius: 150px
}

/* Track */
::-webkit-scrollbar-track {
    background: #1a1e55; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff2020; 
}
.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}

.register h1, .login2 h1{
	font-weight: 700;
}

.register1 h1, .login1 h1{
	font-weight: 500 !important;
}

/*################################################ ANIMATIONS ###############################################
*/

@keyframes show {
	0% {
	  opacity: 0;
	  transform: translateY(-10px);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
}

@keyframes showHeading {
	0% {
	  opacity: 0;
	  transform: translateX(-100px);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
}

/*
################################################  MENU #############################################
*/
<<<<<<< HEAD
=======



.main{
	background-position-y: -130px;
	background-repeat: no-repeat;
	background-image: url(../images/bg.png);
	width: 100%;
	height: 120vh;
}

>>>>>>> parent of 7de2f50... change secondary color, added jquery, showing uploaded files
.banner{
	padding-left:100px;
	padding-right: 100px;
	width: 100%;
	height: 100%;
}

.banner nav{
	display: flex;
	width:100%;
	height: 150px;
	order:2;
	flex:1;
}

nav ul{
	margin-left: auto;
	list-style-type: none;
	margin-top:50px;
}

nav ul li {
	top:20px;
	display: inline;
	text-transform: uppercase;
	padding-left: 44px;
	color: white;
	font-weight: 700;
	font-size: 18px;
}

.banner nav li a{
	cursor: pointer;
	animation: show 0.2s .7s ease 1 both;
}

.banner nav a{
	position: relative;
	display: inline-block;
	background: linear-gradient(to bottom, transparent 60%, #ff2020 0) center center/0% 75% no-repeat;
	z-index: 1;
}

  
.banner nav li a:hover {
	background-size: 100% 100%;
}

.banner nav li a:active{
	background-size: 80% 100%;
}

.login2, .register{
	animation: show 0.4s 1s ease 1 both;
	display: inline-block;
}

.login2{
	cursor: pointer;
	height: 40px;
	width: 110px;
	border-radius: 5px;
	border: solid #ff2020 2px;
	box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.25);
	transition: all .4s ease-in-out;
	margin-left: 15px;
	margin-right: -20px;
	color:#ff2020;
}

.login2 h1{
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
}

.login2:hover{
	background-color: #ff2020;
	color:white;
}

.register{
	cursor: pointer;
	height: 40px;
	width: 170px;
	border-radius: 5px;
	background-color: #ff2020;
	box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.25);
	margin-top: 10px;
}

.register h1{
	font-size: 12px;
	text-transform: uppercase;
	color: white;
	text-align: center;
	padding-top:3px;
}
  
.float{
	margin-top:50px;
}

/*
################################################  Heading text #############################################
*/

.heading {
	color: white;
	display: flex;  
	justify-content: center;
	flex-direction: column;
	margin-bottom: 150px;
	animation: showHeading 0.4s .4s ease 1 both;
}

.heading h1{
	font-size: 100px;
	font-weight: 300;
}

.heading p{
	font-weight: 200;
	margin-bottom:40px;
	margin-top:-20px;
	font-size: 30px;
}

.heading-uderline{
	height: 4px;
	position: absolute;
	width:200px;
	background-color:#ff2020;
	margin-top: 0px;
}	

.heading-buttons{
	display: flex;
	display: inline-block;
}

.login1, .register1{
	display: inline-block;
}

.login1{
	cursor: pointer;
	height: 55px;
	width: 280px;
	border-radius: 5px;
	background-color:#ff2020;
	box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.25);

}

.login1 h1{
	text-transform: uppercase;
	text-align: center;
	color: white;
	font-size: 16px;
	padding-top: 8px;
}

.register1{
	margin-left: 40px;
	cursor: pointer;
	height: 55px;
	width: 300px;
	border-radius: 5px;
	color:#ff2020;
	border:solid #ff2020 2px;
	box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.25);
	transition: all .4s ease-in-out;
}

.register1 h1{
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 5px;
}

.register1:hover{
	background-color:#ff2020;
	color:white;
}

.arrow-circle{
	width: 64px;
	order:3;
	border-radius: 100px;
	background-color: white;
	box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.25);
	height: 64px;
	cursor: pointer;
	align-self: flex-end;
}

.arrow-circle svg{
	padding: 22px;
	width: 16px;
	height: 16px;
}