
/* BASIC */

html {
  background-color: #56baed;
  font-family: 'Maven Pro'
}

body {
  height: 100vh;
}

a {
  color: #ffc000;
  text-decoration: none;
  font-weight: 400;
  transition: .5s
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}



/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  height: 510px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 15px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #ffcc00;
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #ff9c00;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  height: 50px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(255,153,0,0.3);
  box-shadow: 0 10px 30px 0 rgba(255,153,0,0.3);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #fff;
  color: #ff9c00;
  border: 1px solid #ff9c00;
  border-radius: 100px;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text], #password {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus, #password:focus {
  background-color: #fff;
  border-bottom: 3px solid #ffcc00;
}

::placeholder {
  color: #b7b7b7;
}
/* ANIMATIONS */

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover{
  display: inline-block;
  padding-top: 10px;
}
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #ffcc00;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}


*:focus {
    outline: none;
} 

#icon {
  width:60%;
}

* {
  box-sizing: border-box;
}

/*######################### AUTH ######################*/
.auth{
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  position: absolute;
}

.authContent{
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: black;
  z-index:50;
  padding: 30px;
  width: 90%;
  max-width: 550px;
  height: 220px;
  display: block;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.circle-loader {
  margin:25px auto 25px auto;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left-color: #ffcc00;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 112px;
  height: 112px;
}

.circle-loader.load-complete {
  -webkit-animation: none;
  margin:25px auto 25px auto;
  animation: none;
  display: block;
  border-color: #5cb85c;
  transition: border 500ms ease-out;
  z-index: 50;
}

.circle-loader.load-complete.red{
  -webkit-animation: none;
  margin:25px auto 25px auto;
  animation: none;
  display: block;
  border-color: red;
  transition: border 500ms ease-out;
  z-index: 50;
}

.checkmark {
  display: none;
}

.checkmark.show {
  display: block;
  z-index: 50;
}

.checkmark.draw.show:after {
  z-index: 50;
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}
.checkmark.show:after {
  opacity: 1;
  height:56px;
  width: 28px;
  z-index: 50;
  transform-origin: left top;
  border-right: 3px solid #5cb85c;
  border-top: 3px solid #5cb85c;
  content: '';
  left: 28px;
  top: 56px;
  position: absolute;
}

.checkmark2.draw.show:after {
  z-index: 50;
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(-135deg);
}

.checkmark2.show:after {
  opacity: 1;
  height:74px;
  width: 28px;
  z-index: 50;
  transform-origin: left top;
  border-right: 3px solid red;
  content: '';
  left: 60px;
  top: 101px;
  position: absolute;
}

.checkmark2.draw.show::before {
  z-index: 50;
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}

.checkmark2.show::before {
  opacity: 1;
  height:74px;
  width: 28px;
  z-index: 50;
  transform-origin: left top;
  border-right: 3px solid red;
  content: '';
  left: 8px;
  top: 59px;
  position: absolute;
}

.auth-bg{
  display: block;
  background-color:black;
  width:100%;
  position: absolute;
  height: 100vh;
  margin:0;
  opacity: 0.5;
  z-index: 1;
  animation: fadeBg 2s;
}

.authText{
  text-align: center;
  color:white;
  margin-top:0px;
  font-weight:300; 
  display: block;
  z-index: 50;
}

@keyframes FadeBg{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 0.5
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  30% {
    height: 0;
    width: 28px;
    opacity: 1;
  }
  70% {
    height: 56px;
    width: 28px;
    opacity: 1;
  }
  100% {
    height: 56px;
    width: 28px;
    opacity: 1;
  }
}