
/* BASIC */
*{
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  transition: .5s
}

h4{
  display: inline-block;
  padding-right:10px;
  margin-bottom: 50px;
  font-size: 22px;
}

p{
  color:white;
}

label{
  color:white;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

/* STRUCTURE */

.wrapper {
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.loginContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 20px 20px 20px 20px;
  background: #fff;
  padding: 30px;
  width: 70%;
  max-width: 850px;
  height:600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

.formContent-text{
  float:right;
  padding-top:10%;
  width:55%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  padding-left:50px;
  background: linear-gradient(135deg, rgb(38, 82, 95) 0%, rgba(16,39,46,1) 100%);

}

.infoContent{
  background: linear-gradient(135deg, rgb(255, 59, 59) 0%,rgb(255, 120, 120) 100%);
  width:45%;
  border-radius: 20px 0px 0px 20px;
  opacity: 1;
  height: 100%;
  float:left;
}

/* TABS */

.login-tabs{
  white-space:nowrap;
}

h4.inactive {
  color: #cccccc;
  font-weight: 100;
  cursor: pointer;
}

.login-line{
  padding-right:10px;
  width:1px;
  border-left: 2px solid #dc323c; 
}

h4.loginactive {
  color: white;
  font-weight: 500;
}



/* FORM TYPOGRAPHY*/
input[type=submit] {
  background-color: #ffff;
  border: none;
  color: #dc323c;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  height: 40px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px;
  margin: 45px 10px 5px 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}

input[type=submit]:hover  {
  background-color: #dc323c;
  color: white;
  cursor: pointer;
}

input[type=submit]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

#login{
  margin-bottom: 35px;
}

#login, #password {
  background-color: transparent;
  color: white;
  padding: 5px 0px 10px 0px;
  text-decoration: none;
  border:none;
  margin-top:5px;
  font-size: 14px;
  width: 80%;
  border-bottom: 1px solid #f6f6f6;
  transition: all 0.5s ease-in-out;
}

#login:focus, #password:focus {
  border-bottom: 1px solid #dc323c;
}

.forgot-password{
  margin-left:20px;
  cursor: pointer;
}

::placeholder {
  letter-spacing: 1px;
  color: #b7b7b7;
}
/* ANIMATIONS */

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;

  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover{
  display: inline-block;
  padding-top: 10px;
}
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #dc323c;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: white;
}

.underlineHover:hover:after{
  width: 100%;
}


*:focus {
    outline: none;
} 


* {
  box-sizing: border-box;
}

/*######################### AUTH ######################*/
.auth{
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  position: absolute;
}

.authContent{
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: black;
  z-index:50;
  padding: 30px;
  width: 90%;
  max-width: 550px;
  height: 220px;
  display: block;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.circle-loader {
  margin:25px auto 25px auto;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left-color: #dc323c;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 112px;
  height: 112px;
}

.circle-loader.load-complete {
  -webkit-animation: none;
  margin:25px auto 25px auto;
  animation: none;
  display: block;
  border-color: #5cb85c;
  transition: border 500ms ease-out;
  z-index: 50;
}

.circle-loader.load-complete.red{
  -webkit-animation: none;
  margin:25px auto 25px auto;
  animation: none;
  display: block;
  border-color: red;
  transition: border 500ms ease-out;
  z-index: 50;
}

.checkmark {
  display: none;
}

.checkmark.show {
  display: block;
  z-index: 50;
}

.checkmark.draw.show:after {
  z-index: 50;
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}
.checkmark.show:after {
  opacity: 1;
  height:56px;
  width: 28px;
  z-index: 50;
  transform-origin: left top;
  border-right: 3px solid #5cb85c;
  border-top: 3px solid #5cb85c;
  content: '';
  left: 28px;
  top: 56px;
  position: absolute;
}

.checkmark2.draw.show:after {
  z-index: 50;
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(-135deg);
}

.checkmark2.show:after {
  opacity: 1;
  height:74px;
  width: 28px;
  z-index: 50;
  transform-origin: left top;
  border-right: 3px solid red;
  content: '';
  left: 60px;
  top: 104px;
  position: absolute;
}

.checkmark2.draw.show::before {
  z-index: 50;
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}

.checkmark2.show::before {
  opacity: 1;
  height:74px;
  width: 28px;
  z-index: 50;
  transform-origin: left top;
  border-right: 3px solid red;
  content: '';
  left: 8px;
  top: 63px;
  position: absolute;
}

.auth-bg{
  display: block;
  background-color:black;
  width:100%;
  position: absolute;
  height: 100vh;
  margin:0;
  opacity: 0.5;
  z-index: 1;
  animation: fadeBg 2s;
}

.authText{
  text-align: center;
  color:white;
  margin-top:0px;
  font-weight:300; 
  display: block;
  z-index: 50;
}

@keyframes FadeBg{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 0.5
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    opacity: 1;
  }
  50%{
    height: 74px;
  }
  100% {
    height: 74px;
  }
}