/*######################################################### KEYFRAMES ###########################################################*/
@keyframes showTab{
    0%{
        opacity:0;
    }
    100%{
        opacity: 100%
    }
}

/*######################################################## LEFT BAR #################################################################*/

aside{
    height: 90vh;
    width:6vw;
    order:2;
    background-color:#262733;
}

/*######################################################### TOP BAR #########################################################*/

.Panel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
}
.panel-bar__nav{
    top:0;
    width:100vw;
    order:1;
    background-color:#262733;
    height: 10vh;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.418);
    border-left: none;
}

.pane-bar__subtitle{
    color:#8d8d8d;
    font-size: 18px;
    font-weight: light;
}

.panel-sections{
    width:94vw;
    order:3;
    height: 90vh;
    color:#ff2020;
    background-color: #353642;
}

.panel-menu{
    display: flex;
}

.panel-menu a{
    display: block;
}

.panel-active__span{
    width:60px;
    height: 4px;
    border-radius: 50px;
    background-color:#ff2020;
    display: block;
    margin-left:80px;
    margin-top:8px;
}

.panel-icon, .panel-icon1{
    margin-right: -40px;
}

.panel-icon1{
    padding-left:60px;
    margin-top:-3px;
}

.panel-icon{
    margin-top:-3px;
    padding-left:40px;
}

li img {
    opacity: 0.6;
    width:40%;
    cursor: pointer;
    position: relative;
}

li img:hover{
    opacity: 1;
    transition: all .5s ease-in-out;
}

/*######################################################### TOP BAR TABS #########################################################*/

.downArrow-icon{
    margin-left:-20px;
}

.profileMenu-wrapper{
    width:150px;
    top:80px;
    height: 200px;
    border-radius: 10px;
    position: absolute;
    right: 45px;
    background-color:white;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    animation: showTab .5s ease-in-out;
}
