/*######################################################### BASICS ##############################################################*/

body{
    background-color:#353642;
}

.grey{
    color:#8d8d8d;
    font-size: 18px;
    font-weight: light;
}

.panel-menu li{
    text-transform: none;
}

.active{
    background: linear-gradient(to bottom, #ff2020 1%,#ff4a26 99%);
}

.activeTab{
    fill:url(#lgrad);
}

/*######################################################### KEYFRAMES ###########################################################*/
@keyframes showTab{
    0%{
        opacity:0;
    }
    100%{
        opacity: 100%
    }
}

/*######################################################## LEFT BAR #################################################################*/

aside{
    height: 90vh;
    width:110px;
    background-color:#262733;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.281);
}

aside svg{
    height: 40px;
    margin-bottom: 30px;
    width:40px;
    margin-top:50px;
    fill:#8d8d8d;
}

aside svg:hover{
    fill:url(#lgrad);
    cursor: pointer;
}

.monitor{
    position: absolute;
    width:5px;
    height: 7%;
    margin-left:52px;
    margin-top:40px;
}

.cloud{
    position: absolute;
    width:5px;
    height: 7%;
    margin-left:52px;
    margin-top:160px;
}

.user{
    position: absolute;
    width:5px;
    height: 7%;
    margin-left:52px;
    margin-top:160px;
}


/*######################################################### TOP BAR #########################################################*/

.asideMenu{
    display: flex;
    flex-flow: row wrap;
}

.panel-bar__nav{
    top:0;
    width:100vw;
    position: relative;
    display: flex;
    background-color:#262733;
    height: 95px;
    z-index: 2;
    box-shadow: 120px 10px 30px 0px rgba(0, 0, 0, 0.281);
}

.panel-sections{
    flex:1;
    height: 90vh;
    z-index: 0;
    color:#ff2020;
    background-color: #353642;
}

.panel-menu{
    display: flex;
    margin-top:35px;
}

.panel-menu a{
    text-transform: none;
    display: block;
}

.panel-active__span{
    width:60px;
    height: 4px;
    border-radius: 50px;
    background-color:#ff2020;
    display: block;
    margin-left:80px;
    margin-top:8px;
}

.panel-icon, .panel-icon1{
    margin-right: -40px;
}

.panel-icon1{
    padding-left:60px;
    margin-top:-3px;
}

.panel-icon{
    margin-top:-3px;
    padding-left:40px;
}

li img {
    opacity: 0.6;
    width:35%;
    margin-top:5px;
    cursor: pointer;
    position: relative;
    transition: all .5s ease-in-out;
}

li img:hover{
    opacity: 1;
}

/*######################################################### TOP BAR TABS #########################################################*/

.downArrow-icon{
    margin-left:-20px;
}

.profileMenu-wrapper{
    width:150px;
    top:80px;
    height: 200px;
    border-radius: 10px;
    position: absolute;
    right: 45px;
    background-color:white;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    animation: showTab .5s ease-in-out;
}
