
.user, .panel-title{
    margin:0;
    letter-spacing: 0;
}

.Panel{
    overflow-x: hidden;
    overflow-y: hidden;
    color:black
}
.panel-bar{
    top:0;
    width:100%;
    float:right;
    background: linear-gradient(to right, #ff9578 1%,#ffd83b 100%);
    height: 10vh;
    box-shadow: 20px 0px 21px 0px rgba(0, 0, 0, 0.418);
    border-left: none;
}

.panel-title{
    padding:10px 15px;
    font-weight: 500;
}

.panel-sections{
    float:left;
    width:100%;
    height: 92vh;
    background-color: #f4f4f4;
}
