@font-face {
    font-family: 'Geomanist2';
    src: url("fonts/Geomanist-Medium.eot");
    src: url("fonts/Geomanist-Medium.woff") format("woff"),url("fonts/Geomanist-Medium.ttf") format("truetype"),url("fonts/Geomanist-Medium.svg") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist1';
    src: url("fonts/Geomanist-book.eot");
    src: url("fonts/Geomanist-book.woff") format("woff"),url("fonts/Geomanist-book.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist3';
    src: url("fonts/geomanist-regular.eot");
    src: url("fonts/Geomanist-regular.woff") format("woff"),url("fonts/Geomanist-regular.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

html{
    font-family: Geomanist3
}