/* ##### Sections ##### */

.sections__disk, .sections__files, .sections__upload, .sections__stats{
    margin:30px;
    border-radius: 5px;
    padding: 40px;
    transition: all .5s;
}

.sections__disk, .sections__files, .sections__stats{
    background-color:#262733;
    width:35%;
    height: 350px;
}

.sections__files h1, .sections__disk h1{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.sections__disk{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.sections__chart{
    top:-100px;
}

.sections__upload{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;


    width:20%;
    height: 350px;

    text-align: center;

    background-color:#262733;
    color:#8d8d8d;
    fill:#8d8d8d;
}

.sections__upload svg{
    width:70px;
}

.sections__upload:hover{
    color:#dc323c;
    fill:#dc323c;
    cursor: pointer;
}

.sections--paragraph{
    color:#dc323c;
    font-weight:300;
    font-size: 35px;
    margin-top:80px;
}

/* ##### SLIDER ##### */
[id*=flat-slider] {
    background: #7e8c9f;
  }
  
  [id*=flat-slider] {
    border-left-color: #434d5a;
  }
  
  [id*=flat-slider] {
    border-color: white;
  }
  