.sections__disk, .sections__files{
    background-color:#262733;
    width:30%;
    height: 40%;
    margin:50px;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.233);

}

.sections__files h1, .sections__disk h1{
    margin: 0;
    font-size: 23px;
}