.panel-sections__disk, .panel-sections__files{
    background-color:#18161f;
    width:30%;
    height: 40%;
    margin:50px;
    padding: 25px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.418);

}

.panel-sections__files h1, .panel-sections__disk h1{
    margin: 0;
    font-size: 23px;
    letter-spacing: 0px;
}